# =========================
# Ambiente virtual
# =========================
.venv/
venv/
env/

# =========================
# Banco de dados local
# =========================
db.sqlite3

# =========================
# Cache Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Variáveis de ambiente
# =========================
.env

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/

# =========================
# Static coletado
# =========================
staticfiles/

# =========================
# Logs
# =========================
*.log

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db